ez-aquarii
__pycache__/
camera/cpv/CMakeFiles
camera/cpv/ez
camera/cpv/cmake_install.cmake
camera/cpv/CMakeCache.txt
nffi/target
rffi/target
sockettest/rsock/target
sockettest/csock/CMakeFiles
sockettest/csock/CMakeCache.txt
sockettest/csock/cmake_install.cmake
sockettest/csock/csock